# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# Database (optional – ignore if you don't want to push DB)
store.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log